<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mystery Word</title>
    <style>
      .errors-container {
        color: red;
      }
    </style>
  </head>
  <body style="margin: 0 20px;">
    <h1>{{title}}</h1>
    <div style="margin:20px 0;" class="mysteryWord">
      {{#newWord}}
        {{#guessed}}
          <span>{{letter}}</span>
        {{/guessed}}
        {{^guessed}}
        {{#gamePlay}}
          <span>_</span>
        {{/gamePlay}}
        {{^gamePlay}}
          {{^win}}
            <span style="color: red;">{{letter}}</span>
          {{/win}}
        {{/gamePlay}}
        {{/guessed}}
      {{/newWord}}
    </div>
    {{#gamePlay}}
      <div class="guessesCount">
        {{#moreGuesses}}
          <span>You have made {{badGuesses}} bad guesses out of {{easyModeMaxGuesses}}.</span>
        {{/moreGuesses}}

        {{^moreGuesses}}
          <span>You are out of guesses.</span>
        {{/moreGuesses}}

        <p>Guesses: {{#guessedLetters}}<span>{{.}}</span>{{/guessedLetters}}</p>
      </div>
      <div class="gamePlay">
        <form class="guessContainer" action="/guess" method="post">
          <input type="text" name="guessInput" value="" autofocus>
          <input type="submit" name="guessSubmit" value="Make a guess">
        </form>

        {{#errors.length}}
          <div class="errors-container">
            <h3>Errors</h3>
            <ul>
              {{#errors}}
                <li>
                  <!-- {{param}} -->
                  {{msg}}
                  {{#value}}
                    (You entered {{value}}.)
                  {{/value}}
                </li>
              {{/errors}}
            </ul>
          </div>
        {{/errors.length}}

        {{^errors.length}}<p>cool.cool.cool</p>{{/errors.length}}
      {{/gamePlay}}

      {{^gamePlay}}
        {{#win}}<p>You win!</p>{{/win}}
        {{^win}}<p>You lose!</p>{{/win}}

        <form class="playAgain" action="/index" method="post">
            <input type="submit" name="play-again" value="Do you want to play again?">
        </form>
      {{/gamePlay}}
    </div>
  </body>
</html>
